* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.navBar {
    width: 100%;
    background-color: #183746;
    color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 20px #079de890;
    margin-bottom: 2px;
    padding: 25px 0;
    #faList {
        cursor: pointer;
        display: none;
    }
.cart_wish_log {
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}


    // links navbar in big screen 
.visible__links ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.visible__links ul li {
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}
.visible__links ul li .linkNav {
    text-decoration: none;
    color: #fff;
    }
}
// Nav Up Style...

    .navUp {
        background-color:#183746;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba( 0,0,0, 0.5);
        padding: 10px 25px;
        .emailContact {
            display: flex;
            gap: 10px;
        }
        .emailContact a {
            color: #fff;
            font-weight:bold;
        }
        .mail {
            color: #fff;
            font-size: 20px;
        }
        .contactIcons {
            display: flex;
            gap: 10px;
            color: #000;
        }
        .whatsApp,
        .face,
        .insta,
        .Linked {
            color: #fff;
        }
        .whatsApp:hover {
            color: rgb(76, 233, 76);
            transform: rotateY(180deg);
            transition: all 1s;
            cursor: pointer;
        }
        .face:hover {
            color: blue;
            transform: rotateY(180deg);
            transition: all 1s;
            cursor: pointer;
        }
        .insta:hover {
            color: red;
            transform: rotateY(180deg);
            transition: all 1s;
            cursor: pointer;
        }
        .Linked:hover {
            color: blue;
            transform: rotateY(180deg);
            transition: all 1s;
            cursor: pointer;
        }
    }
// mobile list 
.linkList {
    background-color: #000;
    padding: 5px 0;
    .linkList ul {
        padding: 0;
        margin: 0;
    }
    ul li{
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid red;
        padding: 10px 0;
        cursor: pointer;
    }
    .linkList ul li .linkNav {
        text-decoration: none;
    }
}
    ///// Responsive navbar 

@media (min-width: 320px) and (max-width: 768px)  {
    .navUp,
    .visible__links {
        display: none;
    }
    .navBar #faList {
        display: flex;
    }
}